/*****************Fonts******************/

/*****************Colors******************/
$color-background: #445252;//#474747;
$color-dialog:  #ff676a;
$color-shadow:  rgba(0, 0, 0, 0.3); 
$color-field: rgba(0, 0, 0, 0.20);
$color-text: #222;
$color-placeholder: #888;
$color-border:  #FE8C8E;
$color-first: #F8937E;
$color-second: #F7E4C5;
$color-focus: #f7f7f7;
