@import '_variables';

*{
    font-family: 'Titillium Web', sans-serif !important;    
}
/****************GLOBALS****************/
body{
    background-color: $color-background;
}

/****************IDs****************/
#root{
    position: relative;    
}

/****************CLASSES****************/
.hide{
    display: none;
}

.show{
    display: inherit;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app{
    top: 200px;
    width: 280px;
    height:auto;
    max-height: 200px;
    background-color: $color-dialog;
    border-radius: 5px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 15px;
    //transition:all 1s ease-out;

    div {
        margin: 0 auto;       
    }
}

.inputField{
    width: 100%;
    height: 135px;
    overflow: hidden;

    & > div{
        width: 100%px;
        height: 40px;

        div{
            width: 20%;
            height: 100%;
            float: left;

            &.first{
                background-color: $color-first;
                border-radius: 3px 0px 0px 0px;        
            }

            &.second{
                background-color: $color-second;
                border-radius: 0px 0px 0px 3px;                
            }
        }
    }

    input {
        border: 0px;
        outline: none;
        padding: 0px;

        &.first{
            border-radius: 0px 3px 0px 0px;            
        }

        &.second{
            border-radius: 0px 0px 3px 0px;      
        }
        
        &::placeholder{
            color: $color-placeholder;
        }

        &[type=text],
        &[type=password]{
            width: 80%;
            height: 100%;
            font-size: 14px;
            float: right;
            text-indent: 10px;
            color: $color-text;
            transition: background-color 0.8s linear;
            //border:1px solid $color-border;
            //box-shadow: inset 0 -1px 9px 0px $color-field;

            &:focus{
                background-color: $color-focus;
            }
        }

        &[type=button]{
            height:40px;
            width: 100%;

            margin: 0 auto;
            border-radius: 3px;
            cursor: pointer;
            display: block;
            margin-top: 6px;
            color: #445252;
            font-size: 16px;
            background-color: buttonface;
            
            &:hover{
                background-color: #eee;
            }
        }
    }

}

.logo{
    width: 100px;
    height: 75px;
    //background-color: #333;
    text-align: center;
    line-height: 75px;
}

.notify{
    width: 100%;
    height: 55px;
    text-align: center;
}

.icon{
    height: 17px;
    margin: 12px auto;
    display: block;
}

/****************ANIMATIONS & MICRO-INTERACTIONS****************/

// Load Animations and micro-interactions
.anim-enter {
    opacity: 0.01;
}
.anim-enter.anim-enter-active{
    opacity: 1;
    transition: opacity 0.5s ease-out;
    transition-delay: 0.1s;
}
.anim-appear {
    opacity: 0.01;
}
.anim-appear.anim-appear-active{
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transition-delay: 0.1s;
}
.anim-leave {
    opacity: 1.0;
}
.anim-leave.anim-leave-active{
    opacity: 0;
    transition: opacity 0.5s ease-in;
    transition-delay: 0.1s;
}