/*****************Fonts******************/
/*****************Colors******************/
* {
  font-family: 'Titillium Web', sans-serif !important;
  color: #445252;
  font-size: 18px; }

/****************GLOBALS****************/
body {
  background-color: #445252; }

/****************IDs****************/
#root {
  position: relative; }

/****************CLASSES****************/
.hide {
  display: none; }

.show {
  display: inherit; }

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

.app {
  top: 250px;
  width: 280px;
  height: auto;
  max-height: 300px;
  background-color: #ff676a;
  border-radius: 5px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 15px;
  transition: all 1s ease-out; }
  .app div {
    margin: 0 auto; }

.inputField {
  width: 100%;
  height: 135px;
  overflow: hidden; }
  .inputField > div {
    width: 100%px;
    height: 40px; }
    .inputField > div div {
      width: 20%;
      height: 100%;
      float: left; }
      .inputField > div div.first {
        background-color: #F8937E;
        border-radius: 3px 0px 0px 0px; }
      .inputField > div div.second {
        background-color: #F7E4C5;
        border-radius: 0px 0px 0px 3px; }
  .inputField input {
    border: 0px;
    outline: none;
    padding: 0px; }
    .inputField input.first {
      border-radius: 0px 3px 0px 0px; }
    .inputField input.second {
      border-radius: 0px 0px 3px 0px; }
    .inputField input::placeholder {
      color: #888; }
    .inputField input[type=text], .inputField input[type=password] {
      width: 80%;
      height: 100%;
      font-size: 14px;
      float: right;
      text-indent: 10px;
      color: #222;
      transition: background-color 0.8s linear; }
      .inputField input[type=text]:focus, .inputField input[type=password]:focus {
        background-color: #f7f7f7; }
      .inputField input[type=text].error::placeholder, .inputField input[type=password].error::placeholder {
        color: #E73A38; }
    .inputField input[type=button] {
      height: 50px;
      width: 100%;
      margin: 0 auto;
      border-radius: 3px;
      display: block;
      margin-top: 6px;
      color: #445252;
      font-size: 16px; }
      .inputField input[type=button].clickable {
        background-color: buttonface;
        cursor: pointer; }
        .inputField input[type=button].clickable:hover {
          background-color: #eee; }
      .inputField input[type=button].loading {
        background-color: #A1A1A1;
        cursor: progress; }
      .inputField input[type=button].done {
        background-color: #969696;
        cursor: default;
        color: #f7f7f7; }
      .inputField input[type=button].error {
        background-color: #E24848;
        cursor: default; }

.logo {
  width: 100%;
  height: 165px;
  text-align: center;
  line-height: 75px;
  margin-bottom: 10px; }
  .logo svg {
    width: 215px; }

.notify {
  width: 100%;
  height: 55px;
  text-align: center; }

.icon {
  height: 17px;
  margin: 12px auto;
  display: block; }

/****************ANIMATIONS & MICRO-INTERACTIONS****************/
.anim-enter {
  opacity: 0.01; }

.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  transition-delay: 0.1s; }

.anim-appear {
  opacity: 0.01; }

.anim-appear.anim-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.1s; }

.anim-leave {
  opacity: 1.0; }

.anim-leave.anim-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.1s; }
