@import '_variables';

*{
    font-family: 'Titillium Web', sans-serif !important;    
}
/****************GLOBALS****************/
body{
    background-color: $color-background;
}

/****************IDs****************/
#root{
    position: relative;    
}

/****************CLASSES****************/
.hide{
    display: none;
}

.show{
    display: initial;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app{
    top: 200px;
    width: 280px;
    max-height: 200px;
    background-color: $color-dialog;
    border-radius: 5px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 8px;

    div {
        margin: 0 auto;       
    }
}

.inputField{
    width: 100%;
    height: 135px;
    overflow: hidden;

    & > div{
        width: 100%px;
        height: 40px;

        div{
            width: 20%;
            height: 100%;
            float: left;

            &.first{
                background-color: $color-first;
                border-radius: 3px 0px 0px 0px;        
            }

            &.second{
                background-color: $color-second;
                border-radius: 0px 0px 0px 3px;                
            }
        }
    }

    input {
        border: 0px;
        outline: none;
        padding: 0px;

        &.first{
            border-radius: 0px 3px 0px 0px;            
        }

        &.second{
            border-radius: 0px 0px 3px 0px;      
        }
        
        &::placeholder{
            color: $color-placeholder;
        }

        &[type=text],
        &[type=password]{
            width: 80%;
            height: 100%;

            float: right;
            text-indent: 10px;
            color: $color-text;
            //border:1px solid $color-border;
            //box-shadow: inset 0 -1px 9px 0px $color-field;
        }

        &[type=button]{
            height:40px;
            width: 100%;

            margin: 0 auto;
            border-radius: 3px;
            cursor: pointer;
            display: block;
            margin-top: 2px;
            color: #445252;
            font-size: 16px;
            background-color: buttonface;
            
            &:hover{
                background-color: #eee;
            }
        }
    }

}

.logo{
    width: 100px;
    height: 78px;
    //background-color: #333;
    text-align: center;
    line-height: 50px;
}

.notify{
    width: 100%;
    height: 55px;
    text-align: center;
}

.icon{
    height: 17px;
    margin: 12px auto;
    display: block;
}